*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
}

a, a:visited{
  text-decoration: none;
  color: blue;
}

header{
  margin-top: 6px;
  border-bottom: 2px solid black;
  text-align: center;
}

header span{
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
}

.profile{
  border-right: 2px solid black;
  width: 230px;
  height: 100%;
  position: fixed!important;
  z-index: 1;
  overflow: auto;
  clear: right;
  background-color: #073763;
}

.pfp{
  border: 3px white solid;
  border-radius: 50%;
  margin-left: 22px;
  margin-top: 22px;
  margin-bottom: 10px;
}

.profile div {
  text-align: center;
  font-size: xx-large;
}

.links{
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

.icons{
  margin-top: 10px;
}

.icons a img{
  width: 32px;
}

.description{
  margin: 0 2rem;
  margin-left: 16.3rem;
}

.description p{
  font-size: 1.3rem;
}