/* Variables */
:root{
  /* Light mode */
  --main-bg-color: white;
  --main-text-color: black;
  --main-bg-profile: #073763;

  /* Dark mode */
  --dark-bg-color: #333;
  --dark-header: #222;
  --dark-text-color: #eee;
  --dark-bg-profile: #111;
}

/* Default (light) mode */

body{
  margin: 0;
  height: 100vh;
  background-color: var(--main-bg-color);
  transition: background-color 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}
body.dark{
  background-color: var(--dark-bg-color);
  transition: background-color 0.5s;
}
body.light{
  background-color: var(--main-bg-color);
  transition: background-color 0.5s;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 105px;
  height: 100vh;
}

header{
  padding-top: 6px;
  border-bottom: 2px solid black;
  text-align: center;
  grid-column: 1/-1;
  position: relative;
  transition: background-color 0.5s;
}
header.dark{
  background-color: var(--dark-header);
  transition: background-color 0.5s;
}
header.light{
  background-color: var(--main-bg-color);
  transition: background-color 0.5s;
}

header span{
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
  color: var(--main-text-color);
}
header span.dark{
  color: var(--dark-text-color);
}
header span.light{
  color: black;
}

.trigger{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border-top-left-radius: 10px;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.5s;
}
.trigger.dark{
  background-color: var(--dark-text-color);
  transition: background-color 0.5s;
}
.trigger.light{
  background-color: var(--dark-bg-color);
  transition: background-color 0.5s;
}

.fa-moon{
  font-size: 32px;
  color: #eee;
  margin-top: 10%;
  margin-left: 15%;
}

.fa-sun{
  font-size: 32px;
  color: #000;
  margin-top: 11%;
  margin-left: 5%;
}

a, a:visited{
  text-decoration: none;
  color: blue;
}
a.dark, a.dark:visited{
  color: #5996d4;
}
a.light, a.light:visited{
  text-decoration: none;
  color: blue;
}

.profile{
  border-right: 2px solid black;
  background-color: var(--main-bg-profile);
  grid-column: 1;
  grid-row: 2/-1;
  height: 100%;
  transition: background-color 0.5s;
}
.profile.dark{
  background-color: var(--dark-bg-profile);
  transition: background-color 0.5s;
  
}
.profile.light{
  background-color: var(--main-bg-profile);
  transition: background-color 0.5s;
  
}

.pfp{
  margin: 15px auto; 
}
.pfp>img{
  border: 3px white solid;
  border-radius: 50%;
  width: 80%;
}

.profile div {
  text-align: center;
}

.lang{
  font-size: xx-large;
}

.links{
  color: var(--main-bg-color);
  font-weight: bold;
  padding-top: 25px;
  font-size: xx-large;
}

.icons{
  margin-top: 10px;
}

.icons a img{
  width: 32px;
}

.description{
  margin: 0 2rem;
  grid-column: 2/-1;
}
.description.dark{
  color: var(--dark-text-color);
}
.description.light{
  color: black;
}

.description p{
  font-size: 1.3rem;
}

.description>span{
  padding-bottom: 1rem;
}

.hidden-mobile{
  display: none;
}

/* Themes */
@media (prefers-color-scheme: light){
  body{
    background-color: var(--main-bg-color);
  }

  a, a:visited{
    text-decoration: none;
    color: blue;
  }

  header{
    background-color: var(--main-bg-color);
  }

  header>span{
    color: var(--main-text-color);
  }

  .profile{
    background-color: var(--main-bg-profile);
  }

  .description{
    color: var(--main-text-color);
  }
}

@media (prefers-color-scheme: dark){
  body{
    background-color: var(--dark-bg-color);
  }

  a, a:visited{
    text-decoration: none;
    color: #5996d4;
  }

  header{
    background-color: var(--dark-header);
  }

  header>span{
    color: var(--dark-text-color);
  }

  .profile{
    background-color: var(--dark-bg-profile);
  }

  .description{
    color: var(--dark-text-color);
  }
}

/* For 4K screens */
@media (min-width: 2150px){
  .wrapper{
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 150px;
  }

  header span{
    font-size: 8rem;
    letter-spacing: 10px;
  }

  .trigger{
    width: 100px;
    height: 100px;
  }

  .fa-moon{
    font-size: 64px;
    margin-top: 17%;
  }
  
  .fa-sun{
    font-size: 68px;
    margin-top: 15%;
  }

  .pfp>img{
    margin: 20px auto;
  }

  .lang{
    font-size: 3rem;
  }

  .links{
    font-size: 2.6rem;
  }

  .profile>.icons>a>img{
    width: 45px;
  }

  .description>h1{
    font-size: 4rem;
  }

  .description>p{
    font-size: 3rem;
  }

  .description>span{
    font-size: 2rem;
  }
}

/* 1450 to 2149 */
@media (min-width: 1450px) and (max-width: 2149px){
  .wrapper{
    grid-template-rows: 150px;
  }

  header span{
    font-size: 8rem;
    letter-spacing: 10px;
  }

  .pfp>img{
    margin: 20px auto;
  }

  .lang{
    font-size: 3.2rem;
  }

  .links{
    font-size: 2.8rem;
  }

  .profile>.icons>a>img{
    width: 48px;
  }

  .description>h1{
    font-size: 3rem;
  }

  .description>p{
    font-size: 2.3rem;
  }

  .description>span{
    font-size: 1.7rem;
  }
}

/* From 1200 to 1449, because sidebar info would look weird */
@media (min-width: 1200px) and (max-width: 1449px){
  .lang{
    font-size: 2.4rem;
  }

  .links{
    font-size: 2.2rem;
  }

  .profile>.icons>a>img{
    width: 36px;
  }
}

/* For mid size laptop screen */
@media (min-width: 1000px) and (max-width: 1199px){
  .lang{
    font-size: 1.8rem;
    margin-bottom: -10px;
  }

  .links{
    font-size: 1.5rem;
  }

  .profile>.icons>a>img{
    width: 1.7rem;
  }
}

/* For tablet */
@media (min-width: 651px) and (max-width: 999px){
  .profile{
    display: none;
  }

  .trigger{
    right: 0;
    bottom: -105px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .description{
    grid-column: 1/-1;
  }

  .hidden-mobile{
    display: block;
    font-size: x-large;
  }
}

/* Mobile 350 to 650 */
@media (min-width: 350px) and (max-width: 650px){
  .profile{
    display: none;
  }

  .wrapper{
    grid-template-rows: 60px;
  }

  header{
    padding-top: 3px;
  }

  header span{
    font-size: 3rem;
  }

  .trigger{
    right: 0;
    bottom: -90px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .description{
    grid-column: 1/-1;
  }

  .description h1{
    font-size: x-large;
  }

  .hidden-mobile{
    display: block;
    font-size: x-large;
  }
}

/* For absolutely who!? 349 and lesser... 
** Actually it's quite possible there's people
** with screens with this resolution, I'm such an
** ignorant, my apologies.
*/
@media (max-width: 349px){
  .profile{
    display: none;
  }

  .wrapper{
    grid-template-rows: 60px;
  }

  header{
    padding-top: 5px;
  }

  header span{
    font-size: 2.7rem;
  }

  .trigger{
    right: 0;
    bottom: -90px;
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .description{
    grid-column: 1/-1;
  }

  .description h1{
    font-size: x-large;
  }

  .hidden-mobile{
    display: block;
    font-size: x-large;
  }
}