*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    transition: background-color 0.5s;
}

html {
    height: 100%;
}

body{
  margin: 0;
  margin-bottom: 30px;
  height: 100%;
}

.wrapper{
  margin: 0 2rem;
  padding-bottom: 10px;
}

.clr{
  clear: both;
  font-size: 0;
}

a, a:visited{
  text-decoration: none;
  color: blue;
}

header{
  background-color: white;
  padding-top: 6px;
  border-bottom: 2px solid black;
  text-align: center;
  grid-column: 1/-1;
}

header span{
  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
}

/* Themes */
@media (prefers-color-scheme: dark){
    * { transition: background-color 0.5s; }

    body{
        background-color: #333;
    }

    body p{
        color: #eee;
    }

    a, a:visited{
        text-decoration: none;
        color: #5996d4;
    }

    header{
        background-color: #222;
    }

    header>span{
        color: #eee;
    }

    ul li{
        color: #eee;
    }
}

@media (min-width: 750px) and (max-width: 999px){
  .wrapper>p{
    margin: 20px 3rem;
    font-size: 3.5rem;
  }

  ul{
    margin-left: 3rem;
  }

  li{
    font-size: xx-large;
    margin-bottom: 30px;
  }
}

@media (min-width: 651px) and (max-width: 749px){
  .wrapper>p{
    font-size: xx-large;
  }

  li{
    font-size: x-large;
    margin-bottom: 20px;
  }
}

@media (min-width: 441px) and (max-width: 650px){
  header{
    padding-top: 3px;
  }

  header span{
    font-size: 3rem;
  }

  p{
    font-size: xx-large;
  }

  ul{
    font-size: x-large;
  }

  li{
    margin-bottom: 30px;
  }
}

@media (min-width: 350px) and (max-width: 440px){
  header{
    padding-top: 3px;
  }

  header span{
    font-size: 3rem;
  }

  p{
    font-size: xx-large;
  }

  ul{
    font-size: x-large;
  }

  li{
    margin-bottom: 30px;
  }
}

@media (max-width: 349px){
  header{
    padding-top: 5px;
  }

  header span{
    font-size: 2.7rem;
  }

  p{
    font-size: x-large;
  }

  li{
    font-size: large;
    margin-bottom: 20px;
  }
}